<!DOCTYPE html>

<html lang="en">
    <!--head tag start-->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FashionEra|About Us</title>
        
        <!--link for CSS code-->
        <link rel="stylesheet" href="{{ url_for('static', filename='../static/CSS/style9.css')}}">
    </head>
    <!--head tag end-->
    
    <!--body tag start-->
    <body bgcolor="#EEE2DC">
        <nav id="navbar">
            <ul>
                <li class="logo"><h1 style="font-family: 'Lobster', cursive; color: rgb(238, 9, 85); font-size: 60px;" >Fashion</h1><h1 style="font-family: 'Lobster', cursive; color:white; font-size: 60px;" >Era</h1></li>
            </ul>
        </nav>
        
        <div class="about-section">
            <div class="inner-container">
                <h1>About Us</h1>
                <!--text content of the page-->
                <p class="text">
                  This is about Us page created by Team FashionEra for IBM Hack Challenge 2021. We are here to recommend the outfit which will suit you. 
                </p>
            </div>
        </div>
    </body>
    <!--body tag end-->
</html>