<!DOCTYPE html>

<html lang="en" dir="ltr">
      <head>
            <meta charset="utf-8">
            <title>FashionEra|Delete Account</title>
            <link rel="stylesheet" href="{{ url_for('static', filename='../static/CSS/style.css')}}">
      </head>
    
      <body>
        <div class="center">
            <h1>Delete Account</h1>
            
            <form method="post" action="{{url_for('delete_page')}}" enctype = "multipart/form-data">
            
            <div class="txt_field">
                <input type="email" name="email" required>
                <span></span>
                 <label>Email</label>
            </div>
                
            <div class="txt_field">
                <input type="password" name="password" required>
                <span></span>
                <label>Password</label>
            </div>
            
            <div class="pass">Forgot Password?</div>
                <input type="submit" value="Delete">
                <div class="signup_link"></div>
            </form>
        </div>
      </body>
</html>