<!DOCTYPE html>

<html lang="en" dir="ltr">
    
    <!--head tag start-->
    <head>
        <meta charset="utf-8">
        <title>FashionEra|Delete Account</title>
        
        <!--link for CSS code-->
        <link rel="stylesheet" href="{{ url_for('static', filename='../static/CSS/style1.css')}}">
        <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous"
        />
        <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous"
        />
    </head>
    <!--head tag end-->
    
    <!--body tag start-->
    <body>
        {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %} {% if category == 'error' %}
        <div class="alert alert-danger alter-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        {% else %}
        <div class="alert alert-success alter-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        {% endif %} {% endfor %} {% endif %} {% endwith %}
          
        <div class="center">
            <h1>Delete Account</h1>
            
            <form method="post" action="{{url_for('delete_page')}}" enctype = "multipart/form-data">
            
            <div class="txt_field">
                <input type="email" name="Email" required>
                <span></span>
                <label>Email</label>
            </div>
                
            <div class="txt_field">
                <input type="password" name="password" required>
                <span></span>
                <label>Password</label>
            </div>
            
            <div class="pass"><a href="{{url_for('forgot_page')}}">Forgot Password?</a></div>
                <input type="submit" value="Delete">
                <div class="signup_link"></div>
            </form>
        </div>
    </body>
    <!--body tag end-->
    
    <!--JS code start here-->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous">
    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous">
    </script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous">
    </script>
    <!--JS code end here-->
    
</html>