<html>
	<header>
		<h4>Hi, erveyone!!!</h4>
	</header>

	<body>
		<p>Inside Body </p>
	</body>

    <script>
      window.watsonAssistantChatOptions = {
          integrationID: "f0e000f8-0350-46fb-b97e-3e6383b82549", // The ID of this integration.
          region: "us-south", // The region your integration is hosted in.
          serviceInstanceID: "2ec8424c-5021-4a42-8c94-ef5b7c90ed4b", // The ID of your service instance.
          onLoad: function(instance) { instance.render(); }
        };
      setTimeout(function(){
        const t=document.createElement('script');
        t.src="https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js";
        document.head.appendChild(t);
      });
</script>
        
<!--
        var value1 = {
                "context": {
                    "age": "@sys-number"
            }
        }
    
    console.log("The value is " + value1.context.age);!
-->
    
    
</html>