<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>FashionEra</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='../../static/CSS/style3.css')}}">
    </head>
    
    <body>
        <header>
            <nav>
                <ul>
                    <li> 
                        <a href="about_page"> ABOUT US </a>
                    </li>
                    <li>
                        <a href="help_page"> HELP </a>
                    </li>
                </ul>
            </nav>
            <div class="link">
                <a href="login_page"> Login </a>
                <a href="signup_page"> Sign Up </a>            
            </div>
        </header>

        <section id="home">
                <div class="data"> 
                    <h1>Welcome To FashionEra</h1>
                    <h1  style="color: black;"> UNLOCK <br> YOUR STYLE</h1>
                </div>
        </section>
    </body> 
</html>