<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>FashionEra</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='../static/CSS/style2.css')}}">
    </head>
    
    <body>
        <div class="wrapper">
            <nav class="navbar">
                <img class="logo" src="https://lh3.googleusercontent.com/4etHIUAIHUyyvPV1EXbNRlOCl40NNPMCp3n6zCL_crLocuIwOuo_0p0xD0JXSL49Mw0Iw84=s134">
                <ul>
                    <li><a href="login_page">Login</a></li>
                    <li><a href="signup_page">Sign Up</a></li>
                </ul>
            </nav>
            
            <div class="center">
                <h1>Welcome To FashionEra</h1>
            </div>
        </div>
    </body>
</html>