<!DOCTYPE html>

<html lang="en" dir="ltr">
        <head>
            <meta charset="utf-8">
            <title>FashionEra|Login Form</title>
            <link rel="stylesheet" href="{{ url_for('static', filename='../static/CSS/style.css')}}">
        </head>
  
        <body>
            <div class="center">
                <h1>Login</h1>
                <form action="login_page" method="post" enctype = "multipart/form-data">
                    <div class="txt_field">
                        <input type="text" name="username" required>
                        <span></span>
                        <label>Username</label>
                    </div>
                    
                    <div class="txt_field">
                        <input type="password" name="password" required>
                        <span></span>
                        <label>Password</label>
                    </div>
                    
                    <div class="pass">Forgot Password?</div>
                    
                    <div class="pass"><a href="{{url_for('delete_page')}}">Delete My Account</a></div>
                    
                    <button type="submit" value="Login">Login</button>
                    
                    <div class="signup_link">
                          Not a member? <a href="{{url_for('signup_page')}}">Signup</a>
                    </div>
                </form>
            </div>
      </body>
</html>
