<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>FashionEra|Signup Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/CSS/style.css')}}">
  </head>
  <body>
    <div class="center">
      <h1>SignUp</h1>
      <form action="{{url_for('signup_page')}}" method="post" enctype = "multipart/form-data">
	  
        <div class="txt_field">
          <input type="text" name="username" required>
          <span></span>
          <label>Name</label>
        </div>
		
        <div class="txt_field">
          <input type="email" name="email" required>
          <span></span>
          <label>Email</label>
        </div>
		
		<div class="txt_field">
          <input type="tel" name="mobile" required>
          <span></span>
          <label>Mobile No.</label>
        </div>
		
		<div class="txt_field">
          <input type="text" name="user" required>
          <span></span>
          <label>Set Username</label>
        </div>
		
		<div class="txt_field">
          <input type="password" name="pwd" required>
          <span></span>
          <label>Set Password</label>
        </div>
        
          <button type="submit" value="Get Started" href="login_page">Get Started</button>
        
      </form>
      </div>
  </body>
</html>