@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

:root{
    --navbar-height: 59px;
}



#navbar{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 100;
    background: black;
}
.logo{
    display: flex;
    position: fixed;
    justify-content: flex-start;
    flex-direction: row;
    top: 1%;
    left: 0;
}

/* #navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.7;
} */




#navbar ul{
    display: flex;
    font-family: 'Open sans',sans-serif;
    font-weight: bold;
    
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
    

}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    align-items: center;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}



.product-center{
    position: absolute;
    top: 30%;
    left: 7%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
    gap: 11rem;
    margin-bottom: 5rem;
}

.product{
    padding-bottom: 1rem;
    transition: all 50ms ease-in-out;
}
.product .img-cover{
    transition: all 500ms ease-in-out;
}

.product:hover img{
    transform: scale(1.2);
}




/* 2nd row */

.product-center2{
    position: absolute;
    top: 100%;
    left: 7%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
    gap: 11rem;
    margin-bottom: 5rem;
}

.product{
    padding-bottom: 1rem;
    transition: all 50ms ease-in-out;
}
.product .img-cover{
    transition: all 500ms ease-in-out;
}

.product:hover img{
    transform: scale(1.2);
}

/* 3rd row */

.product-center3{
    position: absolute;
    top: 170%;
    left: 7%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
    gap: 11rem;
    margin-bottom: 5rem;
}

.product{
    padding-bottom: 1rem;
    transition: all 50ms ease-in-out;
}
.product .img-cover{
    transition: all 500ms ease-in-out;
}

.product:hover img{
    transform: scale(1.2);
}



.btn {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    cursor:pointer;
    top: 0;
    left: 90%;
    width: 100%;
    height: 100px;
    z-index: 100;
}


.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
    position: absolute;
    top: 300%;
	background-color: black;
    padding: 70px 0;
    width: 100%;
}
.footer-col{
   width: 30%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 24px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 19px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: white;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	/* color: #ffffff; */
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff49;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}



.but123{
    position:absolute;
    display: flex;
    flex-direction: row;
    cursor:pointer;
    top: 270%;
    left: 40%;
    align-content: center;
    align-items: center;
    
}


p{
    font-family: Garamond,serif;
    font-weight: bolder;
    font-size: 17px;
}