*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: verdana;
    list-style: none;
}
body{
    background-image: url(https://cutewallpaper.org/21/mens-fashion-wallpaper/Free-download-Latest-Men-Fashion-Wallpapers-Download-Desktop-.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0 90px; 
    background-size: 100% 100%;
    margin: 60px 0 0 0 ;
    z-index: 400;
    padding:0;
}

header{
    padding: 45px 50px;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    background: #000;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1); 
}

nav ul li {
    display: inline-block;
    justify-content: space-between;
    margin: 0 40px;
}
nav ul li a{
    color: #fff;
    font-size: 18px;
}

.link a{
    display: inline-block;
    font-size: 18px;
    padding: 0 20px;
    color: white;
}

#home{
    background-size: auto;
    color: #fafafa;
}

#home .data{
    padding: 100px 0 0 30px;
}

#home h1{
    letter-spacing: 2px;
    font-size: 45px;
    line-height: 70px;
    margin: 10px 0;
}
